!!!
html
    head
        title="Homeautomation Dashboard"

        meta(name='viewport', content='width=device-width, initial-scale=0.7, maximum-scale=1.5, user-scalable=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style' content="black-translucent")

        script(src='/bower_components/lodash/dist/lodash.min.js')
        script(src='/bower_components/jquery/jquery.js')
        script(src='/bower_components/flot/jquery.flot.js')
        script(src='/bower_components/flot/jquery.flot.time.js')
        script(src='/bower_components/flot/jquery.flot.crosshair.js')
        script(src='/socket.io/socket.io.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/handlebars/handlebars.js')
        script(src='/bower_components/moment/min/moment.min.js')
        script(src='/main.js')
        link(rel="stylesheet", href='/bower_components/bootstrap/dist/css/bootstrap.css')

        style(type='text/css').

            body {
                background-color: white;
            }

            .graph {
                height: 320px;
            }

            @media (min-width:320px) {
                .graph {
                    height: 250px;
                }
            }

            #tooltip {
                position: absolute;
                display: none;
                border: 1px solid #424242;
                padding: 2px;
                background-color: #e9ebec;
                opacity: 0.80;
            }
            .sensor {
                text-align: center;
                padding: 10px;
                margin-bottom: 0px;
                min-height: 105px;
            }

            .sensorwrapper {
                padding-right: 10px;
                padding-left: 0px;
                padding-bottom: 10px;
            }

            .sensor .heading {
                font-size: 110%;
                margin-top: 10px;
            }

            .sensor .value {
                font-weight: 900;
                font-size: 160%;
                margin-top: 10px;
            }

            body {
                padding-bottom: 35px;
            }

        include templates

    body
        .container

            .col-xs-12.col-md-4.col-md-push-8
                h3 Status
                #status
                    h4 sensors:
                .clearfix
                include termostat

            .col-xs-12.col-md-8.col-md-pull-4
                h3 Graphs
                #graphs
