!!!
html
    head
        title="Homeautomation Dashboard"
        script(src='/bower_components/lodash/dist/lodash.min.js')
        script(src='/bower_components/jquery/jquery.js')
        script(src='/bower_components/flot/jquery.flot.js')
        script(src='/bower_components/flot/jquery.flot.time.js')
        script(src='/bower_components/flot/jquery.flot.crosshair.js')
        script(src='/socket.io/socket.io.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/handlebars/handlebars.js')
        script(src='/bower_components/moment/min/moment.min.js')
        script(src='/main.js')
        link(rel="stylesheet", href='/bower_components/bootstrap/dist/css/bootstrap.css')

        style(type='text/css').
            .graph { height: 320px; }
            #tooltip {
                position: absolute;
                display: none;
                border: 1px solid #424242;
                padding: 2px;
                background-color: #e9ebec;
                opacity: 0.80;
            }
            .sensor {
                text-align: center;
                padding: 10px;
                margin-bottom: 0px;
                min-height: 105px;
            }

            .sensorwrapper {
                padding-right: 10px;
                padding-left: 0px;
                padding-bottom: 10px;
            }

            .sensor .heading {
                font-size: 110%;
                margin-top: 10px;
            }

            .sensor .value {
                font-weight: 900;
                font-size: 160%;
                margin-top: 10px;
            }

        script(type='text/x-handlebars-template', id='status-template')
            div(id='status-{{location}}', class='col-xs-6 col-md-6 sensorwrapper')
                div(class='well sensor col-xs-12 col-md-12')
                    .value
                        {{temperature}} °C
                    .heading
                        {{location}}

    body
        .container
            .container.col-xs-12.col-md-8
                h3 Graphs
                #graphs
            .container.col-xs-12.col-md-4
                h3 Status
                #status
                    h4 sensors:

                .clearfix

                include termostat
