!!!
html
    head
        title="Homeautomation Dashboard"
        script(src='/bower_components/lodash/dist/lodash.min.js')
        script(src='/bower_components/jquery/jquery.js')
        script(src='/bower_components/flot/jquery.flot.js')
        script(src='/bower_components/flot/jquery.flot.time.js')
        script(src='/bower_components/flot/jquery.flot.crosshair.js')
        script(src='/socket.io/socket.io.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/main.js')
        link(rel="stylesheet", href='/bower_components/bootstrap/dist/css/bootstrap.css')
        style(type='text/css')
            .graph { height: 320px; }
            #tooltip {
                position: absolute;
                display: none;
                border: 1px solid #424242;
                padding: 2px;
                background-color: #e9ebec;
                opacity: 0.80;
            }
    body
        .container
            .container.col-xs-12.col-md-4
                h3 Status
                #status
            .container.col-xs-12.col-md-8
                h3 Graphs
                #graphs
