!!!
html
    head
        title="Homeautomation Dashboard"
        script(src='/bower_components/underscore/underscore-min.js')
        script(src='/bower_components/jquery/jquery.js')
        script(src='/bower_components/flot/jquery.flot.js')
        script(src='/bower_components/flot/jquery.flot.time.js')
        script(src='/bower_components/flot/jquery.flot.crosshair.js')
        script(src='/socket.io/socket.io.js')
        script(src='/main.js')
        style(type='text/css')
            .graph { height: 320px; width: 50%; }
            #tooltip {
                position: absolute;
                display: none;
                border: 1px solid #424242;
                padding: 2px;
                background-color: #e9ebec;
                opacity: 0.80;
            }
    body
        #content
            #graphs
